<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="width=device-width,initial-scale=1" name="viewport" />

  <title>BLOG</title>
  <meta content="BLOG" property="og:title" />

  <meta content="blog in go." name="description" />
  <meta content="blog in go." property="og:description" />

  <!-- <link inline rel="stylesheet" type="style/css" href="static/styles.css" /> -->
</head>
<style>
  * {
    margin: 0;
    --tc: #111;
    --bc: #fff;
    --hc: #111;
  }

  @media (prefers-color-scheme: dark) {
    * {
      --tc: #fff;
      --bc: #111;
      --hc: #fff;
    }
  }

  body {
    font: 18px -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.4;
    color: var(--tc);
    background: var(--bc);
    max-width: 36em;
    margin: 0 auto;
    padding: 0 0.7em;
    text-align: justify;
  }

  main {
    margin-bottom: 3em;
  }

  a {
    text-decoration: none;
    color: var(--hc);
  }

  a:hover {
    text-decoration: underline;
  }

  h1,
  h2,
  br,
  header,
  ul {
    margin-bottom: 1em;
  }

  ul {
    padding-left: 1em;
  }

  br {
    content: " ";
    display: block;
  }

  /* navigation */
  section,
  section:target~section:last-of-type {
    display: none;
  }

  section:target,
  section:last-of-type {
    display: inherit;
  }

  /* end navigation */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header>a {
    font-size: 1.7em;
    font-weight: 700;
  }

  nav a {
    margin-left: 0.75em;
  }

  div {
    padding: 10px;
    border-color: #868686;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  img {
    height: 500px;
    width: 500px;
  }
</style>

<body>
  <header>
    <a href="#h">MYSITE</a>
    <nav>
      <a href="#g">HMM</a>
      <a href="#b">BLOG</a>
    </nav>
  </header>
  <main>
    <section id="b">
      {{ range .Articles }}
      <div>
        <h1>{{ .Title }}</h1>
        <h4>{{ .Description }}</h4>
        <p>{{ .Content }}</p>
      </div>
      {{ end }}
    </section>
    <section id="g">
      <p>¯\_(ツ)_/¯</p>
      <img src="https://media4.giphy.com/media/H31ClI9ah7yeY/giphy.gif?cid=ecf05e474p72m4uaymt61du5s43wexoxg8hg8flk4vcg3nkx&rid=giphy.gif" />
    </section>
    <section id="h">
		Simple blog written in go.
	</section>
  </main>
</body>

</html>
